<!-- Libs JS -->
<script src="https://unpkg.com/jquery@3.4.1/dist/jquery.min.js"></script>
<script src="https://unpkg.com/bootstrap@4.4.1/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://unpkg.com/flickity/dist/flickity.pkgd.min.js"></script>
<script src="https://unpkg.com/flickity@2.2.1/dist/flickity.pkgd.min.js"></script>
<script src="https://unpkg.com/aos@3.0.0-beta.6/dist/aos.js"></script>
<script src="https://unpkg.com/smooth-scroll@16.1.3/dist/smooth-scroll.min.js"></script>
<script src="https://unpkg.com/jarallax@1.12.0/dist/jarallax.min.js"></script>
<script src="https://unpkg.com/jarallax@1.12.0/dist/jarallax-video.min.js"></script>
<script src="https://unpkg.com/jarallax@1.12.0/dist/jarallax-element.min.js"></script>
<script src="https://unpkg.com/typed.js@2.0.11/lib/typed.min.js"></script>
<script src="https://unpkg.com/countup.js@1.9.3/dist/countUp.min.js"></script>
<script src="https://unpkg.com/highlightjs@9.16.2/highlight.pack.min.js"></script>
<script src="https://unpkg.com/@fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.js"></script>
<script src="https://unpkg.com/isotope-layout@3.0.6/dist/isotope.pkgd.min.js"></script>
<script src="https://unpkg.com/imagesloaded@4.1.4/imagesloaded.pkgd.min.js"></script>

<!-- Map -->
<script src='https://api.mapbox.com/mapbox-gl-js/v0.53.0/mapbox-gl.js'></script>

<!-- Theme JS -->
<script src="/assets/js/polyfills.js"></script>
<script src="/assets/js/aos.js"></script>
<script src="/assets/js/countup.js"></script>
<script src="/assets/js/dropdown.js"></script>
<script src="/assets/js/isotope.js"></script>
<script src="/assets/js/navbar.js"></script>
<script src="/assets/js/popovers.js"></script>
