---
---

@import url('https://fonts.googleapis.com/css2?family=Bungee&display=swap');

$primary: #f24e29;

@import "theme";

html {
  scroll-behavior: smooth;
}

.brand-name {
  font-family: 'Bungee', cursive;
}

.gallery {
  .item:nth-of-type(1) {
    @extend .mt-9;
  }

  .item:nth-of-type(3) {
    @extend .mt-11;
  }
}
